<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="refresh" content="60">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Environment Sensor Data</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    <h1>Pogoda we srodku</h1>
    <div class="sensor-data">
      <p><strong>Temperatura:</strong> <span id="temp">{{ data.temperature or '--' }}</span> °C</p>
      <p><strong>Wilgotność:</strong> <span id="humidity">{{ data.humidity or '--' }}</span> %</p>
      <p><strong>Ciśnienie:</strong> <span id="pressure">{{ data.pressure or '--' }}</span> hPa</p>
      <p><strong>Jakość powietrza:</strong> <span id="air">{{ data.air_quality or '--' }}</span></p>
    </div>
  </div>
</body>
</html>