<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="refresh" content="60">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Environment Sensor Data</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    <h1>Pogoda we srodku</h1>
    <div class="sensor-data">
      <p><strong>Temperatura:</strong> <span id="temp">{{ data.temperature.value or '--' }}</span> °C</p>
      <p><strong>Wilgotność:</strong> <span id="humidity">{{ data.humidity.value or '--' }}</span> %</p>
      <p><strong>Ciśnienie:</strong> <span id="pressure">{{ data.pressure.value or '--' }}</span> hPa</p>
      <p><strong>UV:</strong> <span id="UV">{{ data.uv.value or '--' }}</span> UVI </p>
      <p><strong>Oświetlenie:</strong> <span id="lux">{{ data.lux.value or '--' }}</span> lx</p>
      <p><strong>VOC:</strong> <span id="voc">{{ data.voc.value or '--' }}</span> ppb </p>
      <p><strong>NOx:</strong> <span id="nox">{{ data.nox.value or '--' }}</span> ppb </p>
    </div>
  </div>
</body>
</html>