
{% extends "base.html" %}

{% block content %}
    <h1>Enviroment</h1>
    <form action="" method="get" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.temperatureBox.label }}<br>
            {{ form.temperatureBox(size=32) }}
        </p>
        <p>
            {{ form.humidityBox.label }}<br>
            {{ form.humidityBox(size=32) }}
        </p>
        <p>
            {{ form.pressureBox.label }}<br>
            {{ form.pressureBox(size=32) }}
    </form>
{% endblock %}

